.card {
    width: 130px;
    height: 200px;
    align-items: auto;
    align-self: auto;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: flex-start;
    flex-direction: column;
    -unity-text-align: lower-center;
}

.card-head {
}

.card-image {
}
